<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>N:\NLUA\CMD\NLua.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>N:\NLUA\CMD</StartWorkingDirectory>
  </propertyGroup>
</Project>